In [1]:
from google.cloud import bigquery
import pandas as pd

In [25]:
client = bigquery.Client()
query = """
SELECT * FROM `maximal-furnace-783.mgaiduk.popularity_injection_scores` LIMIT 1000
"""
df = client.query(query).to_dataframe()
df

,livestreamId,requestId,timeSpent,score,duration_from_exit
0,0007cbcc-400a-4b8a-a22e-0f281c371a27,o21hxBLdq,1690,7.585685,<NA>
1,000addb3-88da-4da5-a1f1-bd612caff8b5,cuVbVR3no,2280,8.024640,<NA>
2,000addb3-88da-4da5-a1f1-bd612caff8b5,RxSrITK0R,27405,8.075931,182293
3,000addb3-88da-4da5-a1f1-bd612caff8b5,MsMj0ema2,10846,8.501244,4576
4,000b7b3a-96bf-480f-8a6c-391187ea4668,5bjhxs-pi,1583,7.627956,<NA>
...,...,...,...,...,...
995,00e33d04-76bf-4e4a-b228-5badbaeea3f0,SgFCaBIv_,1663,9.931102,<NA>
996,00e33d04-76bf-4e4a-b228-5badbaeea3f0,AuTX92Oqq,1563,9.931102,<NA>
997,00e33d04-76bf-4e4a-b228-5badbaeea3f0,63k3CJZpO,2276,9.931102,<NA>
998,00e33d04-76bf-4e4a-b228-5badbaeea3f0,Sl3PMBvvG,1508,9.931102,<NA>
999,00e33d04-76bf-4e4a-b228-5badbaeea3f0,7SoFvuDzi,2273,9.931102,<NA>

In [36]:
df["positive"] = -df["duration_from_exit"].isna()
df

,livestreamId,requestId,timeSpent,score,duration_from_exit,positive
0,0007cbcc-400a-4b8a-a22e-0f281c371a27,o21hxBLdq,1690,7.585685,<NA>,False
1,000addb3-88da-4da5-a1f1-bd612caff8b5,cuVbVR3no,2280,8.024640,<NA>,False
2,000addb3-88da-4da5-a1f1-bd612caff8b5,RxSrITK0R,27405,8.075931,182293,True
3,000addb3-88da-4da5-a1f1-bd612caff8b5,MsMj0ema2,10846,8.501244,4576,True
4,000b7b3a-96bf-480f-8a6c-391187ea4668,5bjhxs-pi,1583,7.627956,<NA>,False
...,...,...,...,...,...,...
995,00e33d04-76bf-4e4a-b228-5badbaeea3f0,SgFCaBIv_,1663,9.931102,<NA>,False
996,00e33d04-76bf-4e4a-b228-5badbaeea3f0,AuTX92Oqq,1563,9.931102,<NA>,False
997,00e33d04-76bf-4e4a-b228-5badbaeea3f0,63k3CJZpO,2276,9.931102,<NA>,False
998,00e33d04-76bf-4e4a-b228-5badbaeea3f0,Sl3PMBvvG,1508,9.931102,<NA>,False
999,00e33d04-76bf-4e4a-b228-5badbaeea3f0,7SoFvuDzi,2273,9.931102,<NA>,False

In [37]:
df["positive"].mean()

0.093

In [41]:
df[df["score"] > 8]["positive"].mean()

0.09625

In [17]:
df["timeSpent"].mean()

7073.354354354355

In [20]:
df[df["score"] > 9.5]["timeSpent"].mean()

2477.8314087759813

In [14]:
df[df["score"] < 8]["timeSpent"].mean()

22597.633663366338

In [15]:
df[df["score"] > 6]["timeSpent"].mean()

3439.5475444096132

In [16]:
df[df["score"] < 4]["timeSpent"].mean()